<form [formGroup]="personDataForm">
  <label for="firstName">
    First name
  </label>
  <br>
  <div>
    <input formControlName="firstName" id="firstName" type="text" required/>
  </div>
  <label for="lastName">
    Last name
  </label>
  <br>
  <div>
    <input formControlName="lastName" id="lastName" type="text" required/>
  </div>
  <label for="dateOfBirth">
    Date Of Birth
  </label>
  <br>
  <div>
    <ngb-datepicker #dp formControlName="dateOfBirth" id="dateOfBirth" required></ngb-datepicker>
  </div>
</form>
