<form [formGroup]="conferenceForm" (ngSubmit)="submit()">
  <label for="conferenceName">
    Conference name
  </label>
  <br>
  <div>
    <input formControlName="conferenceName" id="conferenceName" type="text" minlength="6" required/>
  </div>
  <label for="expectedNumberOfParticipants">
    Expected Number Of Participants
  </label>
  <br>
  <div>
    <input formControlName="expectedNumberOfParticipants" id="expectedNumberOfParticipants" type="number"/>
  </div>
  <div [formGroup]="conferenceForm">
    <label for="conferenceRoom">
      Choose conference room
    </label>
    <br>
    <select formControlName="conferenceRoom" id="conferenceRoom">
      <option *ngFor="let room of conferenceRooms"
              [ngClass]="expectedNumberOfParticipantsExceedsMaximumSeats() ? 'text-danger' : ''"
              [ngValue]="room"
              [title]="expectedNumberOfParticipantsExceedsMaximumSeats() ? 'Expected number of Participants exceeds maximum seats in the conference room. It\'s recommended to choose conference room with more seats' : ''">{{room.name}}</option>
    </select>
  </div>
  <label for="conferenceDate">
    Conference Date
  </label>
  <br>
  <div>
    <ngb-datepicker #dp formControlName="conferenceDate" id="conferenceDate" required></ngb-datepicker>
  </div>
  <label for="conferenceTime">
    Conference Time
  </label>
  <br>
  <div>
    <ngb-timepicker formControlName="conferenceTime" id="conferenceTime"></ngb-timepicker>
  </div>
  <div>
    <input type="submit" value="Create"/>
  </div>
</form>
