<div [formGroup]="formGroup">
  <label>
    {{labelText}}
  </label>
  <br>
  <div *ngIf="isRegularTextInput">
    <app-input [formElementName]="formElementName" [formGroup]="formGroup" [type]="type" [minimumLength]="minimumLength"></app-input>
  </div>
  <div *ngIf="isDatePicker">
    <app-datepicker [formElementName]="formElementName" [formGroup]="formGroup"></app-datepicker>
  </div>
  <div *ngIf="isTimePicker">
    <ngb-timepicker *ngIf="isTimePicker" formControlName="{{formElementName}}"></ngb-timepicker>
  </div>
</div>
