<div>
  <ul #nav="ngbNav" [(activeId)]="active" class="nav-tabs" ngbNav>
    <li [ngbNavItem]="1">
      <a ngbNavLink>Hosting</a>
      <ng-template ngbNavContent>
        <app-conference-list [listType]='"hosted"'></app-conference-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Participation</a>
      <ng-template ngbNavContent>
        <app-conference-list [listType]='"participated"'></app-conference-list>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
